<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>热点</key>
	<string>popular</string>
	<key>推荐</key>
	<string>recomm</string>
    <key>娱乐</key>
    <string>ent</string>
    <key>社会</key>
    <string>society</string>
    <key>财经</key>
    <string>finance</string>
    <key>体育</key>
    <string>sports</string>
    <key>军事</key>
    <string>mil</string>
    <key>健康</key>
    <string>health</string>
    <key>科技</key>
    <string>tech</string>
    <key>汽车</key>
    <string>auto</string>
    <key>旅游</key>
    <string>travel</string>
    <key>历史</key>
    <string>history</string>
    <key>时尚</key>
    <string>fashion</string>
    <key>推荐</key>
    <string>recomm</string>
    <key>闺房</key>
    <string>couple</string>
    <key>游戏</key>
    <string>game</string>
    <key>互联网</key>
    <string>internet</string>
    <key>干货</key>
    <string>real</string>
    <key>国际</key>
    <string>world</string>
    <key>房产</key>
    <string>house</string>
    <key>教育</key>
    <string>edu</string>
    <key>育儿</key>
    <string>baby</string>
    <key>奇闻</key>
    <string>anecdote</string>
    <key>美食</key>
    <string>food</string>
    <key>文玩</key>
    <string>antique</string>
    <key>星座</key>
    <string>astro</string>
    <key>动漫</key>
    <string>comic</string>
    <key>股票</key>
    <string>shares</string>
    <key>NBA</key>
    <string>nba</string>
    <key>家居</key>
    <string>home</string>
    <key>留学</key>
    <string>abroad</string>
    <key>美容</key>
    <string>beauty</string>
</dict>
</plist>
